.dayBorder {
    border: 1px solid gray;
    height: 142px;
}

.dayText {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 1px 0px;
}

.todayMark {
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    margin: 1px auto 0px auto;
}

.dayFormat {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 1px;
    margin-bottom: 3px;
}
.schedulerContainer {
    text-align: left;
}
.scheduler {
    background-color: aquamarine;
}
