.dayBorder {
    text-align: center;
    flex-grow: 1;
    border: 1px solid gray;
    height: 800px;
    width: 50px;
}

.dayText {
    font-size: 1.875rem;
    line-height: 3.25rem;
    padding: 1px;
    margin-top: 1px;
}

.todayMark {
    background-color: blue;
    color: white;
    width: 56px;
    border-radius: 100%;
    margin: 0px auto;
}

.dayFormat {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    margin-top: 1px;
}

/* 日付のレイアウト */
.schedulerContainer {
    text-align: left;
}
.scheduler {
    background-color: aquamarine;
}
